{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table mb-5">
    <thead>
        <tr>
            <th>Stock</th>
            <th>No. of Shares</th>
            <th>Current Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <th>{{ stock.stock }}</th>
            <th>{{ stock.shares }}</th>
            <th>{{ stock.currentPrice | usd }}</th>
            <th>{{ stock.currentPrice * stock.shares | usd }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Cash Balance</th>
            <th>Stocks Total Value</th>
            <th>Grand Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ cash[0]["cash"] | usd }}</th>
            <th>{{ totalStock | usd }}</th>
            <th>{{ cash[0]["cash"] + totalStock | usd }}</th>
        </tr>
    </tbody>
</table>
{% endblock %}
