{% extends "layout.html" %}

{% block title %}
    Quoted Stock
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ result.name }}</th>
                <th>{{ usd(result.price) }}</th>
                <th>{{ result.symbol }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}
